body{
	background-color:#f7dc98 !important;
	padding-top: 55px;
}
.outer-div{
	/*background-color:#fff;*/
	padding:10px;
	background: url(https://bourbon.britcdn.com/assets/bg-pattern-pink.svg),#fff4f0;
}
.main{
	position:relative;
}
.main-title{
	background-color: #cf7020;
	padding-top: 20px;
	padding-bottom:30px;
	padding-left: 100px;
	width: 100%;
}
.main-title h2{
	color: #fff;
}
.main-content{
	/*border-right: 0.005em solid #888888;*/
	text-align: justify;
	background: url(https://bourbon.britcdn.com/assets/bg-pattern-pink.svg),#fff4f0;
}
.main-content h2 span,a p{
	font-size: 15px;
	color: #000;
}
.main-content p a{
	color: #888888;
}
.main-content a:hover{
	text-decoration:none;
	color: #000 !important;
}
.right-heading h2 span{
	font-size: 15px;
}
.right-heading p{
	font-size: 12px;
	color: #888888;
}
.right-heading p a{
	font-size: 14px;
	color: #888888;
}
.right-heading p a:hover{
	color: #cc6611;
	text-decoration: none;
}
.right-heading p span{
	font-size: 12px;
	color: #000;
}
.right-heading i{
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  cursor:pointer;
  color: #999999;
}
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.story{
	display: none;
	margin-left: 20px;
}
.inside-stories{
	display: none;
	margin-left: 40px;
}
